<!DOCTYPE html>
<html lang="en">
    <body>                
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <%= link_to t('app.name'), site_home_path, class: "sidebar-brand" %>
                    </li>
                    <li>
                        <%= link_to  "Dashboard", site_profile_dashboard_index_path %>
                    </li>
                    <li>
                        <%= link_to  "Meus Anuncios", site_profile_ads_path %>
                    </li>
                    <li>
                        <%= link_to  "Novo Anuncio", new_site_profile_ad_path %>
                    </li>
                </ul>    
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <%= yield %>
                </div>
            </div>            
        </div>
    </body>
</html>