<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'site/site', media: 'all' %>
    <%= stylesheet_link_tag 'site/site.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'site/profile/profile.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    
  </head>
  <body>
    <%= render partial: "layouts/site_shared/navigation" %>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Shortcuts</a>
          </li>
          <li>
            <a href="#">Overview</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
            <%= yield %>            
        </div>
      </div>        
    </div>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <%= render partial: "layouts/site_shared/footer" %>
  </body>
</html>
