<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'site/site', media: 'all' %>
    <%= stylesheet_link_tag 'site/profile/profile', media: 'all' %>
    <%= stylesheet_link_tag 'site/site.min', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
        
  </head>
  <body>
    <%= render partial: "layouts/site_shared/navigation" %>
    <%= render partial: "layouts/profile_shared/dashboard"%>    
    <%= render partial: "layouts/site_shared/footer" %>
  </body>
</html>
