<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>RubyApp</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'site/site', media: 'all' %>
    <%= stylesheet_link_tag 'site/profile/profile', media: 'all' %>
    <%= stylesheet_link_tag 'site/site.min.css', media: 'all' %>

  </head>

  <body>
    <%= render partial: "layouts/site_shared/navigation" %>
    <%= render partial: "layouts/profile_shared/dashboard" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    <%= javascript_include_tag 'profile' %>
    
    <%= yield :javascripts %>
    
  </body>
</html>
